node_modules
venv/*
.idea/*
webapp.log
static/topicmodeling.zip
__pycache__/*
.cache/
tests/__pycache__
.pytest_cache/
application/__pycache__/*
topicmodeling.zip
.zip
tests.xml
htmlcov
coverage.xml
.coverage
.idea/*
