__pycache__
.ipynb_checkpoints
.project
.settings/
.pydevproject
.eggs
*.egg-info
*.pyc
build
dist
.coverage
coverage.xml
nosetests.xml
grenzbote_plain/
.python-version
.tox
wiki/
tutorial-supplementals/font/
tutorial-supplementals/mallet_input/*
tutorial-supplementals/mallet_output/*
.ropeproject
gb_all_model.lda.expElogbeta.npy
gb_all_model.lda.state.sstats.npy
gensim_txt_gb.mm
gensim_gb_txt.mm
corpus.mm
demonstrator/dariah_topics/
demonstrator/static/*.pngcover
