__pycache__
.ipynb_checkpoints
out/
visualizations
.project
.settings/
.pydevproject
.eggs
*.egg-info
*.pyc
build
dist
.coverage
coverage.xml
nosetests.xml
gb_plain.dictionary
gb_plain.mm
heatmap.png
TestingGensim.ipynb
grenzbote_plain/
**/IntegrationTest_v01.html
.python-version
.tox
wiki/
