[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"


[packages]
flask = "*"
cophi = "*"
numpy = "*"


[dev-packages]
pytest = "*"
pytest-cov = "*"


[requires]
python_version = "3.7"

