[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
cophi = "*"
lda = "*"
Flask = "*"
pandas = "*"
numpy = "*"
PyQt5 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
