{% extends "layout.html" %}

{% block main %}
<main class="main">
    <div class="main_content">
        <h1>Goethe_Faust_1</h1>
        <h4>Topics Distribution</h4>
        <p class="chart">
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">60%</span>
            </span>
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">20%</span>
            </span>
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">10%</span>
            </span>
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">7%</span>
            </span>
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">2%</span>
            </span>
            <span data-balloon="gestalten, dunst, nebel" data-balloon-pos="down" class="block">
                <span class="value">1%</span>
            </span>
        </p>



        <div class="row -narrow" style="border-top: none;">
            <div class="column"">
                <h4 style=" margin-top: 0px;">Top 3: Similar Documents</h4>
                <p><button class="topic" style="width: 100%;">Goethe_Faust_2</button></p>
                <p><button class="topic" style="width: 100%">Goethe_Die_ Wahlverwandtschaften</button></p>
                <p><button class="topic" style="width: 100%">Goethe_Die_Leiden_ des_jungen_Werther</button></p>
                <h4>Related Topics</h4>
                <p><button class="topic" style="width: 100%">gestalten, dunst, nebel</button></p>
                <p><button class="topic" style="width: 100%">tag, bild, glück</button></p>
                <p><button class="topic" style="width: 100%">gestalten, dunst, nebel</button></p>
                <p><button class="topic" style="width: 100%">tag, bild, glück</button></p>
                <p><button class="topic" style="width: 100%">gestalten, dunst, nebel</button></p>
                <p><button class="topic" style="width: 100%">tag, bild, glück</button></p>
                <p><button class="topic" style="width: 100%">gestalten, dunst, nebel</button></p>
                <p><button class="topic" style="width: 100%">tag, bild, glück</button></p>
                <p><button class="topic" style="width: 100%">gestalten, dunst, nebel</button></p>
                <p><button class="topic" style="width: 100%">tag, bild, glück</button></p>
            </div>
            <div class="column -wide">
                <h4 style="margin-top: 0px;">Original Text</h4>
                <p style="text-align: justify">
                    Ihr naht euch wieder, schwankende Gestalten,
                    Die früh sich einst dem trüben Blick gezeigt.
                    Versuch ich wohl, euch diesmal festzuhalten?
                    Fühl ich mein Herz noch jenem Wahn geneigt?
                    Ihr drängt euch zu! nun gut, so mögt ihr walten,
                    Wie ihr aus Dunst und Nebel um mich steigt;
                    Mein Busen fühlt sich jugendlich erschüttert
                    Vom Zauberhauch, der euren Zug umwittert.
                </p>
                <p style="text-align: justify">
                    Ihr bringt mit euch die Bilder froher Tage,
                    Und manche liebe Schatten steigen auf;
                    Gleich einer alten, halbverklungnen Sage
                    Kommt erste Lieb und Freundschaft mit herauf;
                    Der Schmerz wird neu, es wiederholt die Klage
                    Des Lebens labyrinthisch irren Lauf,
                    Und nennt die Guten, die, um schöne Stunden
                    Vom Glück getäuscht, vor mir hinweggeschwunden.
                </p>
                <p style="text-align: justify">
                    Sie hören nicht die folgenden Gesänge,
                    Die Seelen, denen ich die ersten sang;
                    Zerstoben ist das freundliche Gedränge,
                    Verklungen, ach! der erste Widerklang.
                    Mein Lied ertönt der unbekannten Menge,
                    Ihr Beifall selbst macht meinem Herzen bang,
                    Und was sich sonst an meinem Lied erfreuet,
                    Wenn es noch lebt, irrt in der Welt zerstreuet.
                </p>
                <p style="text-align: justify">
                    Und mich ergreift ein längst entwöhntes Sehnen
                    Nach jenem stillen, ernsten Geisterreich,
                    Es schwebet nun in unbestimmten Tönen
                    Mein lispelnd Lied, der Äolsharfe gleich,
                    Ein Schauer faßt mich, Träne folgt den Tränen,
                    Das strenge Herz, es fühlt sich mild und weich;
                    Was ich besitze, seh ich wie im Weiten,
                    Und was verschwand, wird mir zu Wirklichkeiten.
                </p>
            </div>
        </div>
    </div>
    </div>
    <script>
        $('.value').each(function () {
            var text = $(this).text();
            $(this).parent().css('width', text);
        });
    </script>
</main>

{% endblock %}