{% extends "base.html" %}

{% block main %}
<main class="main">
    <div class="main_content">
        <h1>{{ title }}</h1>
        <h4>Topic Distribution</h4>
        <p class="chart">
            {% for topic, value in distribution %}
                <span data-balloon="{{ topic }}" data-balloon-pos="down" class="block">
                    <span class="value">{{ value }}%</span>
                </span>
            {% endfor %}
        </p>
        <div class="row -narrow" style="border-top: none;">
            <div class="column"">
                <h4 style=" margin-top: 0px;">Top 3: Similar Documents</h4>
                {% for title in similar_documents %}
                    <p><a href="{{ url_for('documents', title=title) }}"><button class="click-button" style="width: 100%;">{{ title }}</button></a></p>
                {% endfor %}
                <h4>Related Topics</h4>
                {% for topic in related_topics %}
                    <p><a href="{{ url_for('topics', topic=topic) }}"><button class="click-button" style="width: 100%;">{{ topic }}</button></a></p>
                {% endfor %}
            </div>
            <div class="column -wide">
                <h4 style="margin-top: 0px;">Original Text</h4>
                <p style="text-align: justify;">{{ text }}</p>
            </div>
        </div>
    </div>
    </div>
    <script>
        $('.value').each(function () {
            var text = $(this).text();
            $(this).parent().css('width', text);
        });
    </script>
</main>

{% endblock %}