{% extends "base.html" %}

{% block main %}

    <main class="main">
        <div class="main_content">
            <h1> Graph of {{ corpus_size }} documents</h1>
            <p>
                This graph shows the relatedness of all documents by cosine-similarity.
            </p>

            <div id="document-document-graph"></div>


            <div class="slidecontainer">
                <input type="range" min="50" max="95" value="75" class="slider" id="myRange">
                <p>Cutoff: <span id="demo"></span></p>
            </div>

        </div>

        <div id="loadingBar">
            <img class="dariah-flower" src="{{ url_for('static', filename='img/logos/dariah-rotate.gif') }}">
            <div class="outerBorder">
                <div id="text">0%</div>
                <div id="border">
                    <div id="bar"></div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">

        function show_doc_doc_graph() {
            $.getJSON("{{url_for('preprocessGraph')}}", function (data) {

                var graph = data;

                var options = {
                    nodes: {
                        shape: 'box'
                    },
                    edges: {
                        smooth: {
                            type: 'continuous'
                        }
                    },
                    font: {
                        size: 35,
                    },
                    width: '1200px',
                    height: '600px',
                    //width: window.innerWidth,
                    //height: window.innerHeight,
                    layout: {
                        randomSeed: 34,
                        //randomSeed: 191006,
                        //improvedLayout: false
                    },
                    physics: {
                        adaptiveTimestep: true,
                        barnesHut: {
                            gravitationalConstant: -80000,
                            springConstant: .001,
                            springLength: 200
                        },
                        stabilization: {
                            iterations: 2000
                        }
                    },
                    interaction: {
                        navigationButtons: true,
                        keyboard: true
                    }
                };

                var container = document.getElementById("document-document-graph");

                var network = new vis.Network(container, graph, options);


                network.on("stabilizationProgress", function (params) {
                    var maxWidth = 496;
                    var minWidth = 20;
                    var widthFactor = params.iterations / params.total;
                    var width = Math.max(minWidth, maxWidth * widthFactor);

                    document.getElementById('bar').style.width = width + 'px';
                    document.getElementById('text').innerHTML = Math.round(widthFactor * 100) + '%';
                });
                network.once("stabilizationIterationsDone", function () {
                    document.getElementById('text').innerHTML = '100%';
                    document.getElementById('bar').style.width = '496px';
                    document.getElementById('loadingBar').style.opacity = 0;
                    // really clean the dom element
                    setTimeout(function () {
                        document.getElementById('loadingBar').style.display = 'none';
                    }, 500);
                });


                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
                slider.oninput = function () {
                    output.innerHTML = this.value / 100;
                    $.post('/graph', output);
                }

            });


        }

        show_doc_doc_graph();


    </script>

    {#    <!-- TODO: describe Line thickness and/or distance, (in case:) group-colors (done by just showing the suffixes) (Legende)-->#}
    {#    <!-- TODO: adjust size of nodes, size of labels-->#}

{% endblock %}