{% extends "base.html" %}

{% block main %}
<main class="main">
    <div class="main_content">
        <h1>{{ topic }}</h1>
        <div class="row -narrow" style="border-top: none;">
            <div class="column"">
                <h4 style=" margin-top: 0px;">Top 3: Similar Topics</h4>
                {% for topic in similar_topics %}
                    <p><a href="{{ url_for('topics', topic=topic) }}"><button class="click-button" style="width: 100%;">{{ topic }}</button></a></p>
                {% endfor %}
                <h4>Related Words</h4>
                <table>
                    {% for word in related_words %}
                        <tr>
                        <td>{{ word }}</td>
                        </tr>
                    {% endfor %}
                  </table> 
            </div>
            <div class="column -wide">
                <h4 style="margin-top: 0px;">Related Documents</h4>
                {% for title in related_documents %}
                    <p><a href="{{ url_for('documents', title=title) }}"><button class="click-button" style="width: 100%;">{{ title }}</button></a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}