{% extends "layout.html" %}

{% block main %}
<main class="main">
	<div class="main_content">
		<h2>Corpus and Parameter Summary</h2>
		<p>Bla bla bla bla.</p>
		<h2>Inspecting the Model</h2>
		<p>Bla bla bla bla.</p>
		<h3>Topics</h3>
		<p>Bla bla bla bla.</p>
		<h3>Topics and Documents</h3>
		<p>Bla bla bla bla.</p>
		<h3>Topics Distribution</h3>
		<p>Bla bla bla bla.</p>
		<h3>Documents Distribution</h3>
		<p>Bla bla bla bla.</p>
		<h2>Deepen Knowledge</h2>
		<p>DARIAH-DE supports research in the humanities and cultural sciences with digital methods and procedures.</p>
	</div>
</main>
{% endblock %}