<section class="section">
  <div class="container">
    <div class="content">
      <div class="block line-plot-container">
        <ngx-charts-line-chart
          [results]="results()"
          [legend]="false"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel()"
          [yAxisLabel]="yAxisLabel()"
          [xScaleMin]="0"
          [xScaleMax]="numIterations()"
          [showGridLines]="false"
          [autoScale]="true"
          [tooltipDisabled]="true"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</section>
