<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-brand">
      <span class="navbar-item">
        <a class="icon-text" href="https://github.com/DARIAH-DE/TopicsExplorer" target="_blank">
          <span class="icon">
            <fa-icon [icon]="faLayerGroup"></fa-icon>
          </span>
          <b>TopicsExplorer</b>
        </a>
      </span>
    </div>

    <div class="navbar-start"></div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          @if (hasModel()) {
          <!-- Reset -->
          <button class="button" (click)="clearModel()">
            <span class="icon is-small">
              <fa-icon [icon]="faRotateLeft"></fa-icon>
            </span>
          </button>

          <!-- Download -->
          <button class="button" (click)="downloadModel()">
            <span class="icon is-small">
              <fa-icon [icon]="faDownload"></fa-icon>
            </span>
          </button>
          } @else {
          <!-- Upload -->
          <button class="button" (click)="uploadModel()">
            <span class="icon is-small">
              <fa-icon [icon]="faUpload"></fa-icon>
            </span>
          </button>
          }

          <!-- Theme -->
          <button class="button" (click)="toggleTheme()">
            <span class="icon is-small">
              <fa-icon [icon]="isDarkTheme() ? faSun : faMoon"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
