<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-brand">
      <span class="navbar-item icon-text">
        <span class="icon">
          <fa-icon [icon]="faLayerGroup"></fa-icon>
        </span>
        <b>TopicsExplorer</b>
      </span>
    </div>
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="tags">
          @if (showTraining() || hasModel() || hasDocuments()) {
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isHome()"
            [class.has-background-grey-dark]="isDarkTheme() && isHome()"
            (click)="navigateHome()"
          >
            Home
          </button>
          } @if (showTraining()) {
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isTraining()"
            [class.has-background-grey-dark]="isDarkTheme() && isTraining()"
            (click)="navigateTraining()"
          >
            Training
          </button>
          } @if (hasModel()) {
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isTopics()"
            [class.has-background-grey-dark]="isDarkTheme() && isTopics()"
            (click)="navigateTopics()"
          >
            Topics
          </button>
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && (isDocuments() || isDocument())"
            [class.has-background-grey-dark]="isDarkTheme() && (isDocuments() || isDocument())"
            (click)="navigateDocuments()"
          >
            Documents
          </button>
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isVocabulary()"
            [class.has-background-grey-dark]="isDarkTheme() && isVocabulary()"
            (click)="navigateVocabulary()"
          >
            Vocabulary
          </button>
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isDocumentTopic()"
            [class.has-background-grey-dark]="isDarkTheme() && isDocumentTopic()"
            (click)="navigateDocumentTopic()"
          >
            Heatmap
          </button>
          <button
            class="tag"
            [class.has-background-grey-lighter]="isLightTheme() && isExport()"
            [class.has-background-grey-dark]="isDarkTheme() && isExport()"
            (click)="navigateExport()"
          >
            Export
          </button>
          }
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          @if (hasModel()) {
          <button class="button" (click)="downloadModel()" title="Download Model">
            <span class="icon is-small">
              <fa-icon [icon]="faDownload"></fa-icon>
            </span>
          </button>
          }
          <button class="button" (click)="toggleTheme()">
            <span class="icon is-small">
              <fa-icon [icon]="isDarkTheme() ? faSun : faMoon"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
