{% extends "base.html" %}

{% block main %}
<main class="main">
    <div class="main_content">
        <h1>Something went wrong...</h1>
        <p>It looks like something didn’t work out the way it should. Below you see the last few lines of the logfile, maybe
            you can solve the problem on your own. If not, open a new issue on <a href="https://github.com/DARIAH-DE/TopicsExplorer/issues">GitHub</a>.</p>
        <pre>{{ log }}</pre>
        <p>In case you want to check the whole logfile, it is located in the directory <code>{{ tempdir }}</code>.</p>
    </div>
</main>
{% endblock %}