<div class="modal" [class.is-active]="isTraining">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <!-- Progress bar -->
      <progress class="progress is-normal" [value]="currentIteration" [max]="numIterations"></progress>
    </header>

    <section class="modal-card-body">
      <!-- Current topics
      <app-topics-table [topics]="topics()"></app-topics-table>-->
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button" (click)="onCancel()">Cancel</button>
      </div>
    </footer>
  </div>
</div>
