<section class="section">
  <div class="container">
    <div class="content">
      <!-- Introduction -->
      <div>
        <h2>Explore your text collection with topic modeling</h2>
        <div>
          Topic models discover hidden themes in a collection of text documents. Imagine you have a large number of
          articles and you want to understand the main topics they talk about without having to read each one. Topic
          modeling helps by automatically identifying clusters of words that frequently appear together and are thought
          to represent themes.
        </div>
        <div class="mt-3">
          The goal of this application is to provide a simple and intuitive interface for exploring your own text using
          this technique.
        </div>
      </div>

      <!-- Preprocessing -->
      <div class="mt-5">
        <div><b class="is-size-5">Corpus</b></div>
        <div>
          The documents should be in plain text (.txt) format. Each document is split into words and cleaned to remove
          punctuation, numbers and common words (stop words). The words in each document are counted and transformed
          into a
          <a href="https://en.wikipedia.org/wiki/Document-term_matrix">document-term matrix</a>. This matrix is the
          input to the topic modeling algorithm, which discovers the hidden themes based on word frequencies alone.
        </div>
        <div class="file is-boxed mt-3">
          <label class="file-label">
            <input
              class="file-input"
              type="file"
              name="text-corpus"
              accept=".txt"
              multiple
              required
              (change)="onFilesChanged($event)"
            />
            <span class="file-cta">
              <span class="file-icon">
                <fa-icon [icon]="faFileArrowUp"></fa-icon>
              </span>
              <span class="file-label">Selected {{ numDocuments() }} text files</span>
            </span>
          </label>
        </div>
      </div>

      <!-- Modeling -->
      <div class="mt-5">
        <div><b class="is-size-5">Model</b></div>
        <div>The</div>

        <div class="columns">
          <div class="column">
            <div class="field mt-3">
              <div class="control">
                <input
                  class="input"
                  [class.is-danger]="!numIterations"
                  type="number"
                  min="1"
                  [(ngModel)]="numIterations"
                />
              </div>
              <p class="help">Number of iterations</p>
            </div>
          </div>
          <div class="column">
            <div class="field mt-3">
              <div class="control">
                <input class="input" [class.is-danger]="!numTopics" type="number" min="1" [(ngModel)]="numTopics" />
              </div>
              <p class="help">Number of topics</p>
            </div>
          </div>
          <div class="column">
            <div class="field mt-3">
              <div class="control">
                <input class="input" [class.is-danger]="!alpha" type="number" min="0" step="0.01" [(ngModel)]="alpha" />
              </div>
              <p class="help">Alpha</p>
            </div>
          </div>
          <div class="column">
            <div class="field mt-3">
              <div class="control">
                <input class="input" [class.is-danger]="!beta" type="number" min="0" step="0.01" [(ngModel)]="beta" />
              </div>
              <p class="help">Beta</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Train model -->
      <div class="mt-5">
        <button class="button" (click)="trainModel()" [disabled]="!isReady">Train model</button>
      </div>
    </div>
  </div>
</section>

<app-training-modal (cancel)="onCancel()"></app-training-modal>
