<div class="card">
  <header class="card-header">
    <div class="card-header-title">
      <span class="icon-text">
        <span class="icon">
          <fa-icon [icon]="faFlask"></fa-icon>
        </span>
        <span>Hyperparameters</span>
      </span>
      @if (!isCollapsed()) {
      <div class="tags ml-3">
        <span class="tag">{{ numTopics() }} topics</span>
        <span class="tag">{{ numIterations() }} iterations</span>
        <span class="tag">{{ alpha() }} alpha</span>
        <span class="tag">{{ beta() }} beta</span>
      </div>
      }
    </div>
    <button class="card-header-icon" aria-label="toggle card" (click)="toggleCard()">
      <span class="icon">
        @if (isCollapsed()) {
        <fa-icon [icon]="faAngleDown"></fa-icon>
        } @else {
        <fa-icon [icon]="faAngleUp"></fa-icon>}
      </span>
    </button>
  </header>
  @if (isCollapsed()) {

  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column">
          <div class="field mt-3">
            <div class="control">
              <input
                class="input"
                [class.is-danger]="numIterations() === 0"
                type="number"
                min="1"
                [(ngModel)]="numIterations"
              />
            </div>
            <p class="help">Number of iterations</p>
          </div>
        </div>
        <div class="column">
          <div class="field mt-3">
            <div class="control">
              <input
                class="input"
                [class.is-danger]="numTopics() === 0"
                type="number"
                min="1"
                [(ngModel)]="numTopics"
              />
            </div>
            <p class="help">Number of topics</p>
          </div>
        </div>
        <div class="column">
          <div class="field mt-3">
            <div class="control">
              <input
                class="input"
                [class.is-danger]="alpha() === 0"
                type="number"
                min="0"
                step="0.01"
                [(ngModel)]="alpha"
              />
            </div>
            <p class="help">Alpha</p>
          </div>
        </div>
        <div class="column">
          <div class="field mt-3">
            <div class="control">
              <input
                class="input"
                [class.is-danger]="beta() === 0"
                type="number"
                min="0"
                step="0.01"
                [(ngModel)]="beta"
              />
            </div>
            <p class="help">Beta</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
