<section class="section">
  <div class="container">
    <div class="content">
      <div class="block" [style.height.px]="height()">
        <ngx-charts-heat-map
          [results]="results()"
          [gradient]="false"
          [legend]="false"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel()"
          [yAxisLabel]="yAxisLabel()"
          [style.fill]="color()"
        >
        </ngx-charts-heat-map>
      </div>
    </div>
  </div>
</section>
