<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>Topics Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="DARIAH-DE">
  <meta name="description" content="Topics App">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-responsive.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/application.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-customization.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-modal.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">

  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.8.2.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/globalmenu.js')}}"></script>

  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/page_icon.png')}}" />
</head>

<body>
  <div id="content">
    <div style="position: fixed; width: 100%; z-index: 100;" class="navbar navbar-inverse navbar-static-top navbar-dariah" id="top" />
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span1"></div>
          <div class="span10">
            <div class="nav-collapse collapse">
              <ul class="nav" />
              <li>
                <a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='img/dariah_white.png')}}" height="80" width="80"/></a>
              </li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <a href="javascript:history.go(-1)"><i class="icon-arrow-left icon-white"></i> Back</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content_layout" class="container-fluid">
    <div style="height: 70px;"></div>
    <div class="row-fluid">
      <div class="span10 offset1 main-content-wrapper no-margin">
        <div id="content" class="primary-area">
          <h1>Help on Topics</h1>
          <div id="contentInner" style="text-align:justify;">
            <h2>Contact and Issues</h2>
            <p>Comments are welcome, as are reports of bugs and typos. Please use the project's issue tracker on GitHub.</p>
            <p>For general questions, write a mail to <a href="mailto:pielstroem@biozentrum.uni-wuerzburg.de">Dr. Steffen Pielström</a>, in case of any technical questions to <a href="mailto:severin.simmler@stud-mail.uni-wuerzburg.de">Severin Simmler</a>.<br><br>
            </p>
            <h2>What is Topic Modeling?</h2>
            <ul>
              <li><b>David M. Blei</b>, Probabilistic Topic Models, <i>Communication of the ACM</i> 55 (2012), 77–84.</li>
              <li><b>Radim Řehůřek, Petr Sojka</b>, Software Framework for Topic Modelling with Large Corpora, <i>Proceedings of the LREC 2010 Workshop on New Challenges for NLP Frameworks</i> (2010), 46–50.</li>
              <li><b>David M. Blei, Andrew Ng, Michael Jordan</b>, Latent Dirichlet Allocation, <i>Journal of Machine Learning Research</i> 3 (2003), 993–1022.</li>
              <li><b>Jonathan Chang, David M. Blei</b>, Relational Topic Models for Document Networks, <i>Proceedings of the 12<sup>th</sup> International Conference on Artificial Intelligence and Statistics</i> (2009), 23—28.</li>
              <li><b>Chaitanya Chemudugunta, Padhraic Smyth, Mark Steyvers</b>, Modeling General and Speciﬁc Aspects of Documents with a Probabilistic Topic Model, <i>Advances in Neural Information Processing Systems</i> 19 (2006), 993–1022.</li>
              <li><b>Michal Rosen-Zivi, Chaitanya Chemudugunta, Padhraic Smyth, Mark Steyvers, Tom Griffiths</b>, Learning author-topic models from text corpora, <i>ACM Transactions on Information Systems</i> 28 (2010), 269–278.</li>
              <li><b>Jonathan Chang, Jordan Boyd-Graber, Chong Wang, Sean Gerrish, David M. Blei</b>, Reading Tea Leaves: How Humans Interpret Topic Models, <i>Advances in Neural Information Processing Systems</i> 22 (2009), 12–18.</li>
              <li><b>Andre Gohr, Alexander Hinneburg, Rene Schult, Myra Spiliopoulou</b>, Topic Evolution in a Stream of Documents, <i>Proceedings of the SIAM International Conference on Data Mining</i> (2009), 1270–1284.</li>
              <li><b>Hanna Wallach, David Mimno, Andrew McCallum</b>, Rethinking LDA: Why Priors Matter, <i>23<sup>rd</sup> Annual Conference on Neural Information Processing Systems</i> (2009), 1209–1214.</li>
              <li><b>Matthew Purver, Konrad Körding, Thomas L. Griffiths, Joshua Tenenbaum</b>, Unsupervised Topic Modelling for Multi-Party Spoken Discourse, <i>Proceedings of the 44<sup>th</sup> Annual Meeting of the Association for Computational Linguistics</i>                (2006), 801-809.</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="footer" class="span10 offset1 no-margin footer">
        <span>&copy; 2017-2018 DARIAH-DE</span>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
