<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>Topics Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="DARIAH-DE">
  <meta name="description" content="Topics Explorer">

  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-responsive.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/application.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-customization.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-modal.css')}}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">

  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.8.2.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/globalmenu.js')}}"></script>

  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/page_icon.png')}}" />
</head>

<body>
  <div id="content">
    <div id="navbar">
      <div class="navbar navbar-inverse navbar-static-top navbar-dariah" id="top" />
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
              <div class="nav-collapse collapse">
                <ul class="nav" />
                <li>
                  <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/dariah_white.png') }}" height="80" width="80"/></a>
                </li>
                </ul>
                {% block navigation %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content_layout" class="container-fluid">
    <div class="row-fluid">
      <div class="span10 offset1 main-content-wrapper no-margin">
        <div id="content" class="primary-area">
          <br><br>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="footer" class="span10 offset1 no-margin footer">
        <span>&copy; 2017-2018 DARIAH-DE</span>
      </div>
    </div>
  </div>
</body>

</html>
