<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>{{title|escape}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="DARIAH-DE">
		<meta name="description" content={{title|escape}}>
		<!-- CSS Imports -->
		<link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="resources/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="resources/css/application.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="resources/css/bootstrap-customization.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="resources/css/bootstrap-modal.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="resources/css/font-awesome.css">

		<!-- JavaScript files at the end for faster loading of documents -->

		<script type="text/javascript" src="resources/js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="resources/js/bootstrap.js"></script>
		<script type="text/javascript" src="resources/js/globalmenu.js"></script>

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" type="image/png" href="resources/img/page_icon.png" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top navbar-dariah" id="top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span1"></div>
						<div class="span10">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<div class="nav-collapse collapse">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-globe icon-white"></i>
											Language <span class="caret"></span>
										</a>
										<!--
										Language selection: change this list according to the list of languages that are
										supported by your application
										-->
										<ul class="dropdown-menu" id="language_selection">
											<li><a href="?lang=en"><img src="resources/img/famfamfam_flag_icons/png/gb.png" alt="English" /> English</a></li>
											<li class="divider"></li>
										</ul>
									</li>
									<li>
										<li>
											<a href="#" ><i class="icon-signin icon-white"></i> Login</a>
										</li>
									</li>
								</ul>
								<ul class="nav">
									<!--
									Don't change this section!
									-->
									<li id="home_button" class="dropdown">
										<a class="brand dropdown-toggle" data-toggle="dropdown" href="#">
											<span class="caret"></span>
											DARIAH-DE
										</a>
										<ul id="home_dropdown_menu" class="dropdown-menu">
											<li class="dropdown-submenu">
											    <a tabindex="-1" href="#">DARIAH-DE</a>
											    <ul class="dropdown-menu">
											      <li><a href="http://de.dariah.eu">DARIAH-DE Home</a></li>
											      <li class="divider"></li>
											      <li><a href="http://textgrid.de/ ">TextGrid</a></li>
											    </ul>
											  </li>
											<li class="divider"></li>
											<li class="dropdown-submenu">
											    <a tabindex="-1" href="#">DARIAH-EU</a>
											    <ul class="dropdown-menu">
											      <li><a href="http://www.dariah.eu/">DARIAH-EU Home</a></li>
											    </ul>
											  </li>
										</ul>
									</li>
									<li  class="active"><a href="#">{{title|escape}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content_layout" class="container-fluid">
			<div style="height: 70px;"></div>
			<div class="row-fluid">
				<div class="span10 offset1 main-content-wrapper no-margin">
					<div id="content" class="primary-area">
						<ul class="breadcrumb">
							<li><a href="#">{{title|escape}}</a>
								<span class="divider">›</span>
							</li>
							<li class="active">Home</li>
						</ul>
						<h1>{{title|escape}}</h1>
						<div id="contentInner">
							<h2>Summary:</h2>
							<ul>
								{%- for item in item_list %}
									<li><a href="#{{item}}">{{item}}</a></li>
								{%- endfor %}
								<li><a href="#sgt_contact">Contact</a></li>
							</ul>
							<hr />
							<h2 id="sgt_contact">Contact</h2>


						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div id="footer" class="span10 offset1 no-margin footer">
					<span>&copy; 2016 DARIAH-DE</span>
					<ul class="pull-right inline">
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Impressum</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<noscript>
			<div>Please enable JavaScript!</div>
		</noscript>
		</body>
</html>
